.statistics {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
}

.title {
  color: rgb(95, 108, 117);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.statList {
  display: flex;
}

.item {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.label {
  font-size: 12px;
  margin-bottom: 8px;
}

.percentage {
  font-weight: 500;
}
